<nav class="navbar mb-auto navbar-expand-lg navbar-dark bg-dark">
  <a href="/home">
    {{#if image}}
  	  <img 
  	  	src={{image}} 
  	  	style="border-radius: 50%"
  	  />
  	{{else}}
  		<div class="navbar-brand">{{name}}</div>
    {{/if}}
  </a>
  
  <button 
  	class="navbar-toggler" 
  	type="button" 
  	data-toggle="collapse" 
  	data-target="#navbarSupportedContent" 
  	aria-controls="navbarSupportedContent" 
  	aria-expanded="false" 
  	aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    	<li class="nav-item">
        <a class="nav-link" href="/info">How it works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photos">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid home-bg">
  <div class="container">
    <div class="row home-row align-items-center">
      <div class="col-12">
        <div class="row">
          <img id="image-preview" src="" style="margin: 0 auto;"/>
        </div>
        <h1 id="home-text">WELCOME</h1>
        <br />
        <div class="row">
          <h3 id="loading-text" style="margin: 0 auto; color: #fff"></h3>
        </div>
      </div>
      <div class="col-12 btn-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input 
            id="image-capture-button" 
            type="file"
            name="file"
            style="display: none;"
	    accept="image/*"
          />
          <input 
            id="image-submit-button"
            type="submit"
            value="Upload Image"
            name="submit"
            style="display: none;"
          />
        </form>
        <button type="button" class="btn btn-success btn-lg btn-camera">
          <i class="fas fa-camera"></i>
        </button>
      </div>
    </div>
  </div>
</div>
