<div class="container">
	<div class="row">
		<div class="col">
			<a href="/auth/google">Login</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#login-btn').on('click', function(){
		$
	})
</script>